/*
---------
Reset
---------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
---------
common
---------
*/

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

/*
---------
main
---------
*/

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem .9375rem;
}

main {
    flex-grow: 1;
    background-color: #7fffd3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.125rem 0;
}

#container{
    height: 32.875rem;
    width: 32.875rem;
    background-color: blueviolet;
    flex-wrap: wrap;
    align-content: flex-start;
}

.cell {
    background-color: #7fffd3;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 10);
    width: calc(100% / 10);
}